@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-image: url('./asset/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    height: 100vh;
  /*background-color: #4942E4;*/
  font-family: "Inter",sans-serif;
}